<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <script src="/javascripts/js/jquery-ui-1.12.1/external/jquery/jquery.js"></script>
        <script src="/javascripts/js/jquery-ui-1.12.1/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/javascripts/js/DataTables/datatables.min.js"></script>
        <script type="text/javascript" src="/javascripts/js/jquery.mark.min.js"></script>
        <!-- Plugin -->
        <script src="/javascripts/js/DataTables/jquery.dataTables.colResize.js"></script>
        <!-- <script>
        6
    </script>
    <script type="text/javascript" src="/javascripts/js/ajax-script.js"></script>
    <script type="text/javascript" src="/javascripts/js/autocomplete.js"></script>
    --> 
    <script src="/crud_table.js"></script>
    <script src="/main.js"></script>
    <link rel="stylesheet" href="/javascripts/js/jquery-ui-1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="/javascripts/js/jquery-ui-1.12.1/jquery-ui.theme.css">
    <link rel="stylesheet" href="/javascripts/js/jquery-ui-1.12.1/jquery-ui.theme.min.css">
    <link rel="stylesheet" href="/javascripts/js/jquery-ui-1.12.1/jquery-ui.structure.css">
    <link rel="stylesheet" href="/javascripts/js/jquery-ui-1.12.1/jquery-ui.structure.min.css">
    <link rel="stylesheet" type="/javascripts/js/DataTables/datatables.min.css"/>
    <link rel="stylesheet" href="/javascripts/js/DataTables/jquery.dataTables.colResize.css">
    
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.4.4.0.min.css" />
    <link rel="stylesheet" href="/stylesheets/css/main.css" />

</head>
<body>
<nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header"> <a class="navbar-brand" href="/">Ref Search</a>

                </div>
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/form/" target="_parent"  class="btn btn-sm btn-success float-right">Add a new record</a> 
                    </li>
                </ul>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active">
                        <a href="/links/links-list/" target="_parent"  class="btn btn-sm btn-warning float-right">Links list</a>
                    </li>
                    <li>
                        <a href="/file/checkData/" target="_parent"  class="btn btn-sm btn-dark float-right">Check files registred data</a>
                    </li>
                    <li>
                        <a href="/file/files/" target="_parent"  class="btn btn-sm btn-info float-right">Show available files list</a>
                    </li>
                    <li>
                        <a href="/read/" target="_parent"  class="btn btn-sm btn-danger float-right">Datatable listing</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a href="/register"><span class="glyphicon glyphicon-user "></span> Sign Up</a>
                    </li>
                    <li class="">
                        <a href="/login"><span class="glyphicon glyphicon-log-in "></span> Login</a>
                    </li>
                </ul>
            </div>
        </nav>
<% include partials/address_port_value.ejs %>
    <table class="table table-hover" cellpadding="3" cellspacing="0" border="0" style="width: 67%; margin: 0 auto 2em auto;">
        <thead>
            <tr>
                <th scope="col">Target</th>
                <th scope="col">Search text</th>
                <th scope="col">Treat as regex</th>
                <th scope="col">Use smart search</th>
            </tr>
        </thead>
        <tbody>
            <tr id="filter_global" class="table-active">
                <td>Global search</td>
                <td align="center">
                    <input style= "background-color: black; color: white;" type="text" class="global_filter" id="global_filter">
                </td>
                <td align="center">
                    <input style= "background-color: black; color: white;" type="checkbox" class="global_filter" id="global_regex">
                </td>
                <td align="center">
                    <input style= "background-color: black; color: white;" type="checkbox" class="global_filter" id="global_smart" checked= "checked">
                </td>
            </tr>
            <tr class="table-primary" id="filter_col1" data-column="0">
                <td> + result number</td>
                <td align="center">
                    <input style= "background-color: black; color: white;" type="text" class="column_filter" id="col0_filter">
                </td>
                <td align="center">
                    <input style= "background-color: black; color: white;" type="checkbox" class="column_filter" id="col0_regex">
                </td>
                <td align="center">
                    <input style= "background-color: black; color: white;" type="checkbox" class="column_filter" id="col0_smart" checked= "checked">
                </td>
            </tr>
            <tr class="table-secondary" id="filter_col2" data-column="1">
                <td>+ title</td>
                <td align="center">
                    <input style= "background-color: black; color: white;" type="text" class="column_filter" id="col1_filter" style="opacity:0; position:absolute; left:9999px;">
                </td>
                <td align="center">
                    <input style= "background-color: black; color: white;" type="checkbox" class="column_filter" id="col1_regex" style="opacity:0; position:absolute; left:9999px;">
                </td>
                <td align="center">
                    <input style= "background-color: black; color: white;" type="checkbox" class="column_filter" id="col1_smart" checked= "checked" style="opacity:0; position:absolute; left:9999px;">
                </td>
            </tr>
            <tr class="table-success" id="filter_col3" data-column="2">
                <td>+ Registration date</td>
                <td align="center">
                    <input style= "background-color: black; color: white;" type="text" class="column_filter" id="col2_filter" style="opacity:0; position:absolute; left:9999px;" >
                </td>
                <td align="center">
                    <input style= "background-color: black; color: white;" type="checkbox" class="column_filter" id="col2_regex" style="opacity:0; position:absolute; left:9999px;" >
                </td>
                <td align="center">
                    <input style= "background-color: black; color: white;" type="checkbox" class="column_filter" id="col2_smart" checked= "checked" style="opacity:0; position:absolute; left:9999px;" >
                </td>
            </tr>
        </tbody>
    </table>
    <input type='hidden' id='keywords_vals_id' value="<%=(fetchData.length!=0)? fetchData.keywords_vals:''%>
    " /> <a href="/search">Search Data</a>
<a href="/read">Fetch Data</a> 
    <div class="table-data">
        <table style= "background-color: black; color: white;" border="1" id="my_table_sek" >
            <thead>
                <tr>
                    <th>S.N</th>
                    <th>title</th>
                    <th>reg date</th>
                </tr>
            </thead>
            <tbody>
                <% if(fetchData.length!=0){ var i=1; fetchData.forEach(function(data){ %>
                    <tr>
                        <td style= "background-color: black; color: white;">
                        <% if(typeof data.href_to_file!='undefined') { %>
<a href="<%=data.href_to_file%>" download rel="noopener noreferrer" target="_blank" title="<%=data.id%>"><%=data.id%></a>
                        <% } else { %>
                            <%=i%>
                        <% } %>
                        </td>
                            <td style= "background-color: black; color: white;">
                                <%=data.title %>
                                </td>
                                <td style= "background-color: black; color: white;">
                                    <%=data.reg_date %>
                                    </td>
                                </tr>
                                <% i++; }) %>
                                    <% } else{ %>
                                        <tr>
                                            <td style= "background-color: black; color: white;" colspan="7">No Data Found</td>
                                        </tr>
                                        <% } %>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>S.N</th>
                                                <th>title</th>
                                                <th>reg date</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </body>
                        </html>
